input,
button,
select,
option {
  padding: 2px 4px;
}

.app {
  display: grid;
  grid-template-columns: 1fr 900px 1fr;
  column-gap: 32px;
}

.app > * {
  grid-column: 2;
}

.title {
  margin: 32px 0;
  text-align: center;
}

.guis {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-areas:
    'counter counter converter converter converter converter converter converter converter converter'
    'booker booker booker timer timer timer crud crud crud crud'
    'booker booker booker timer timer timer crud crud crud crud'
    'booker booker booker timer timer timer crud crud crud crud'
    'booker booker booker timer timer timer crud crud crud crud'
    'booker booker booker timer timer timer crud crud crud crud'
    'drawer drawer drawer drawer drawer cells cells cells cells cells'
    'drawer drawer drawer drawer drawer cells cells cells cells cells'
    'drawer drawer drawer drawer drawer cells cells cells cells cells'
    'drawer drawer drawer drawer drawer cells cells cells cells cells'
    'drawer drawer drawer drawer drawer cells cells cells cells cells'
    'drawer drawer drawer drawer drawer cells cells cells cells cells'
    'drawer drawer drawer drawer drawer cells cells cells cells cells';
  gap: 8px;
}

.guis > * {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.counter {
  display: flex;
  grid-area: counter;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.converter {
  display: flex;
  grid-area: converter;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.converter > input {
  flex: 1;
}

.booker {
  display: flex;
  grid-area: booker;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 8px;
}

.timer {
  display: flex;
  grid-area: timer;
}

.crud {
  display: flex;
  grid-area: crud;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 8px;
}

.crud select {
  width: 100%;
  height: 100px;
}

.crud label {
  display: flex;
  align-items: center;
}

.crud label > input {
  flex: 1;
  margin-left: 8px;
}

.crud .names {
  display: flex;
  gap: 8px;
}

.crud .buttons {
  display: flex;
  gap: 8px;
}

.crud .buttons > button {
  flex: 1;
}

.drawer {
  display: flex;
  grid-area: drawer;
}

.cells {
  display: flex;
  grid-area: cells;
}
